<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HelpOutPH - Deployed Rescuers</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>

 	<header id="header">
  		<div id = "title">
			<h1><a href="/">HelpOutPH</a></h1>
  		</div>

		<nav id="nav">
			<h3><ul>
		        <li><a href="/report">Need Rescue?</a></li>
		        <li><a href="/deployedtowhere">Deployed Rescuers</a></li>
		        <li><a href="/giverelief">Give Relief</a></li>
		       	<li><a href="/listofcauses">Causes to Support</a></li>
	    	</ul></h3>
	  	</nav>
	</header>

	<script src="/js/jquery-1.11.0.js"></script>
	<script type="text/javascript">



	  </script>

  </body>

</html>